.promo {
    background: -webkit-linear-gradient(90deg, #181a1e,#373a40,#484c56);
    background: linear-gradient(90deg, #181a1e,#373a40,#484c56);
    width:100%;
    height:700px;
}
.promoFull {
    width: 100%;
    height: 80%;
}
@media (min-width: 1299px) {
    .promoMD {
        display: none;
    }
    .promoSM {
        display: none;
    }
}


@media (min-width: 1024px) and (max-width: 1300px) {
    .promo {
        width:100%;
        height:600px;
    }
    .promoFull {
        display: none;
    }
    .promoSM {
        display: none;
    }
}

@media (min-width: 544px) and (max-width: 1023px) {
    .promo {
        width:100%;
        height:400px;
    }
    .promoSM {
        display: none;
    }
    .promoFull {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 544px) {
    .promoSM {
        width:auto;
        height: 500px;
    }
    .promoFull {
        display: none;
    }
    .promoMD {
        display: none;
    }
}