.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, Verdana, sans-serif;
}
.topHeader {
    background: -webkit-linear-gradient(90deg, #181a1e,#373a40,#484c56);
    background: linear-gradient(90deg, #181a1e,#373a40,#484c56);
    padding: 10px 37.5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.title {
    display: flex;
    align-items: center;
}
.cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 900px;
    padding: 20px 10px;
    margin: 20px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}


a {
    border: 1px solid #555555;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    transform: scale(1);
    transition: 0.5s;
}
.nav>a:hover {
    background-color: #555555;
    color: #ffffff;
    transform: scale(1.3);
    transition: 0.5s;
}

.title > a {
    border: 0;
    color: #ffffff;
}

@media (min-width: 1024px) and (max-width: 1300px) {
    .topHeader {
        flex-direction: column;
    }
    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
    }
    .nav>a {
        width: 150px;
        text-align: center;
    }
}

@media (min-width:789px) and (max-width: 1023px) {
    .topHeader {
        padding: 0;
        flex-direction: column;
    }
    .nav {
        width: 768px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
    }
    .nav>a {
        width: 150px;
        text-align: center;
    }
}
@media (min-width:320px) and (max-width: 788px) {
    .title > a> h1 {
        font-size: 35px;
    }
    .topHeader {
        padding: 0;
        flex-direction: column;
    }
    .nav {
        width: 310px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
    }
    .nav>a {
        width: 150px;
        text-align: center;
    }
}



